<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            $('form').submit(function(event){
                event.preventDefault();
                var sender = $('#sender').val();
                var message = $('#message').val();
                socket.emit('chat message', {
                    sender: sender,
                    message: message
                });
                $('#message').val('').focus();
                return false;
            });

            socket.on('chat message', function(data){
                var timestamp = data.timestamp;
                var sender = data.sender;
                var message = data.message;

                var formattedTime = new Date(timestamp).toLocaleString(); // 转换时间格式

                $('#messages').append($('<li>').text(sender + ' (' + formattedTime + '): ' + message));
                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</head>
<body>
    <ul id="messages"></ul>
    <form>
        <input id="sender" placeholder="Your name">
        <input id="message" placeholder="Type message...">
        <button>Send</button>
    </form>
</body>
</html>
